<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity3d.player"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
<!-- 请修改此处的 android:name -->
        <activity android:name="com.company.uaf.MainActivity"
                  android:theme="@style/UnityThemeSelector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
<!--变化内容-->
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="${GOOGLE_AD}"/>
<!--变化内容-->
    </application>
</manifest>
